# DATATYPES IN PYTHON

# Built_in Datatypes
The built_in datatypes are 5 types:
1. NoneType
2. Numeric types
3. sequences
4. sets
5. Mappings

# Built_in Datatypes
The built_in datatypes are 5 types:
1. NoneType
2. Numeric types
3. sequences
4. sets
5. Mappings

# Numeric types
The numeric types represents numbers. There are three sub types:
1. int
2. float
3. complex


int datatype
The int datatype represents an integer numver. An integer number is a number without any decimal point or fraction part
Example: 200,-5-,0,9888998700

In [2]:
a = -57
a

-57

# Float Datatype
The float datatype reprents floating point numbers. A floating point numbers is a numbers that contains a decimal point. 
Ex: 0.5,-3.4657,290.08,0.001

In [3]:
num = 55.6789
num

55.6789

# Complex Datatype
A complex number is snumber that is written in the form of a+bj or a+bJ.

In [4]:
c1 = -1-5.5j
c1

(-1-5.5j)

In [5]:
#program 1 A program to display the sum of a two complex numbers
c1 = 2.5 + 2.5j
c2 = 3.0 - 0.5j
c3 = c1 + c2
print("sum= ", c3)

sum=  (5.5+2j)

In [6]:
x = 15.56
int(x)

15

In [7]:
num = 15
float(num)

15.0

In [8]:
n = 10
complex(n)

(10+0j)

In [10]:
a =10
b = -5
complex(a, b)

(10-5j)

In [11]:
#program 2: A program to convert into decimal number system
n1 = 0o17
n2 = 0B1111010
n3 = 0x1c2
n =int(n1)
print('Octal 17 =', n)
n = int(n2)
print('Binary 1111010', n)
n =int(n3)
print('hexadecimal 1c2', n)

Octal 17 = 15
Binary 1111010 122
hexadecimal 1c2 450

# Bool Datatype
the bool datatype in python represents boolean values. There are only two booleans values True or False

In [1]:
a = 10 
b = 20
if(a<b):print("hello")

hello

In [2]:
a = 10 > 5
print(a)

True

In [3]:
a = 5 > 10
print(a)

False

# Sequences in python
Generally, a sequence represents a group of elements or items. for example, a group of interger numbers will a sequence. There are 6 types of sequences in python
1. str              4. list
2. bytes            5. tuple
3. byte array       6. range



str datatype:
str represent the string datatype. A string represented by a group of characters. String are closed in single or double quotes. Both are valid

In [4]:
#Example of str
str = "welcome "
str = 'welcome'

In [5]:
# we can also write strings inside """(triple double quotes) or '''(triple single quotes)
str1 = """This is a book on python which discusses all topics of core python in a very lucid manner"""
str2 = '''This is a book on python which discusses all topics of core python in a very lucid manner'''

# There are three operations that we can generally perform on any sequence:
1. Indexing: It means retrieving any element by its position number.
2. Slicing : It means retrieving a range of elements.
3. Repetition: It means repeating a sequence. It symbol is '*'

In [6]:
#example for indexing operations on strings:
str = 'core python'
str[0]      # while indexing using square brackets[]
str[5]

'p'

In [7]:
# The slicing operation represnts square brackets [and] to retrive pieces of string.
Name = 'varun yadav'
Name[0:4]

'varu'

In [8]:
Name[:4]

'varu'

In [9]:
Name[5:11]

' yadav'

In [10]:
Name[5:]

' yadav'

In [11]:
Name[0:11]

'varun yadav'

In [12]:
Name[0:11:1]

'varun yadav'

In [13]:
Name[0:11:2]

'vrnydv'

In [14]:
Name[10:4:-1]

'vaday '

In [15]:
# The repetition operator is denoted by '*' symbol and useful to repeat the string for several times.
Name*8

'varun yadavvarun yadavvarun yadavvarun yadavvarun yadavvarun yadavvarun yadavvarun yadav'

# Operations on Strings
we can use several built_in functions on string to perform different operations.



len(): Finds length of string.


upper():Converts a string into capital letters.


lower(): Convers a string into lower letters.


title(): converts first letter of each word into capital


count(): Counts how many times a sub string is repeated in the main string.


index() or find(): Gives the first occurrence of substring in the main string.counting starts from 0 onwards.


replace(): Replace a sub string with a new substring.


split() : Splits a string. By default splits at spaces and retuen a list with pieces.



join() : Joins strings with characters in between.

In [16]:
# Examples for operations on string
len(Name)

11

In [17]:
Name.upper()

'VARUN YADAV'

In [18]:
Name.lower()

'varun yadav'

In [19]:
Name.title()

'Varun Yadav'

In [21]:
Name.index('d')

8

In [22]:
Name.replace('yadav','sagarla')

'varun sagarla'

In [23]:
Name.split()

['varun', 'yadav']

In [24]:
"---------".join(Name)

'v---------a---------r---------u---------n--------- ---------y---------a---------d---------a---------v'

# Bytes Datatype
The bytes datatype represents a group of byte numbers just like arrat does. A byte number is any positive integer fromm 0 to 255(inclusive)

# LIST Datatype

Lists in python are similar to arrays in C or Java. A list represents a group of elements. The main difference between a list and an array is that list can store different types of elements but an array can store only one type of elements.Lists are represented using square brackets[].

In [1]:
#examples for list
list = []
list = [10]
list = [10,-20,15.5,'varun',"yadav"]

In [2]:
for i in list:print(i)

10
-20
15.5
varun
yadav

In [3]:
list[0]

10

In [4]:
list[3]

'varun'

In [5]:
list[0:4]

[10, -20, 15.5, 'varun']

In [6]:
list[3:]

['varun', 'yadav']

In [7]:
list*8

[10,
 -20,
 15.5,
 'varun',
 'yadav',
 10,
 -20,
 15.5,
 'varun',
 'yadav',
 10,
 -20,
 15.5,
 'varun',
 'yadav',
 10,
 -20,
 15.5,
 'varun',
 'yadav',
 10,
 -20,
 15.5,
 'varun',
 'yadav',
 10,
 -20,
 15.5,
 'varun',
 'yadav',
 10,
 -20,
 15.5,
 'varun',
 'yadav',
 10,
 -20,
 15.5,
 'varun',
 'yadav']

In [8]:
list[0]

10

In [10]:
list.append(88)
list

[10, -20, 15.5, 'varun', 'yadav', 88, 88]

In [12]:
list.insert(2,'sagarla')

In [13]:
list

[10, -20, 'sagarla', 15.5, 'varun', 'yadav', 88, 88]

In [14]:
del(list[0])

In [15]:
list

[-20, 'sagarla', 15.5, 'varun', 'yadav', 88, 88]

In [16]:
list.remove(-20)
list

['sagarla', 15.5, 'varun', 'yadav', 88, 88]

# Operations on lists



1. len()---- Returns the number of elements in the list.
2. sum()---- Returns sum of all elements in the list.
3. max()---- Returns maximum and minimum elemets in the list
   min()
4. index()---Returns first occurrence of an element in the list.
5. count()--- Returns how many times a particular element is found in the list.
6. reverse()-- Reverse the sequence of the elements in the list.
7. sort() ---- sorts into ascending order.
8. sort(reverse= true)---- sorts into descending order.
9. append()---- Adds a new element at the end of the list.
10. insert() --- Inserts a new element at a particular position in the list.
11. extend()---- Adds a new list to existing list.
12. remove()---- Deletes an element from the list.
13. del()--- Delets an element from a particular position.
14. copy()--- Copies all the elements of a lsit into another list.

# Tuple Datatype

A tuple is similar to list. A tuple contains a group of elements which can be of different types. The elements in the tuple are sepearted by commas(,) and enclosed in parentheses().Whereas the list elements can be modified, it is not possible to modify the tuple elements.Tuples can be treated as a read-onlt list.

Example:
tpl = () an emplty tuple



tpl = (10,) a tuple with one element



tpl = (10,-20,15.5,'varun',"yadav") atuple with multiple elements


Tuples once created, cannot be modified. Hence, they are called immuatble objects.

In [18]:
#indexing, slicing and repetition on tuples
tpl = (33,20, 11,"varun",'yadav',30,40)
tpl[0]

33

In [19]:
tpl[0:3]

(33, 20, 11)

In [20]:
tpl*5

(33,
 20,
 11,
 'varun',
 'yadav',
 30,
 40,
 33,
 20,
 11,
 'varun',
 'yadav',
 30,
 40,
 33,
 20,
 11,
 'varun',
 'yadav',
 30,
 40,
 33,
 20,
 11,
 'varun',
 'yadav',
 30,
 40,
 33,
 20,
 11,
 'varun',
 'yadav',
 30,
 40)

# Operations on Tuples


1.len() ----- Returns the number of elements in tuple.


2.sum() ----- Returns sum of all elements in the tuple.


3.max() ----- returns maximun and minimun elements in tuple
  min()
  
  
4.index() ---- Returns first occurrence of an element in the tuple.


5.count() ----- Returns how many times an element is found in the tuple.


6.sorted() ----- sorts all elements of the tuple into ascending order.


7.sorted(reverse=True0 ------ sorts all elements of the tuple into descending order.

# sets

A set is an unordered collection of elements much like a set in Mathematics. The order of elements is not maintained in the sets.A set does not accept the duplicate elements.

There are two types in sets:

1. set datatype

2. forzenset datatype

In [21]:
# to crate a set, we should enter the elements seprated by comma(,) inside curly braces{}.
s = {5,6,9,1,2,42,2,6}
print(s)

{1, 2, 5, 6, 9, 42}

In [22]:
ch = set("hello")
print(ch)

{'h', 'e', 'o', 'l'}

In [24]:
lst =[1,2,5,6,9,9,6]
s = set(lst)
print(s)

{1, 2, 5, 6, 9}

In [27]:
#we cannot perform indexing and slicing on sets because there is no importance for postions of elements.
'''lst =[1,2,5,6,9,9,6]
s = set(lst)
print(s[0])
print(s[0:2])'''

'lst =[1,2,5,6,9,9,6]\ns = set(lst)\nprint(s[0])\nprint(s[0:2])'

In [28]:
# But sets can be modified. That means once set is created, we can change the elements of it. For example, let us add new element to our set using add() method as
s = set([1,2,3,4])
s

{1, 2, 3, 4}

In [30]:
s.add(121)
s

{1, 2, 3, 4, 121}

In [31]:
s.update([50,60])
print(s)

{1, 2, 3, 4, 50, 121, 60}

In [39]:
s={5,6,7,8,9,0,2,3,4,55,6,66,76,76,77}
s.remove(5)
print(s)

{0, 2, 3, 4, 6, 7, 8, 9, 66, 76, 77, 55}

# Frozenset Datatype
The frozenset datatype is same as the set datatype. The main difference is that the elements in the set datatype can be modified;whereas, the elements of foraenset cannot be modified.

# Mapping types
A map represents a group of elements in form of key_ value so that when the key is given, we can retrive the value associated with it.

In [41]:
d ={10:'kaal',11:'pranav',12:'hasini',13:'Anup',14:'Reethu'}
d[11]

'pranav'